<!-- Contact -->
<section
  class="page-section"
  id="{{ site.data.sitetext[site.locale].contact.section | default: 'contact' }}"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].contact.title | markdownify |
          default: Contact Me }}
        </h2>
        <h3 class="no-margin" style="color: lightgray">
          {{ site.data.sitetext[site.locale].contact.text | default: "" }}
        </h3>
        <h3 class="section-subheading" style="color: lightgray">
          {{ site.data.sitetext[site.locale].contact.sub-text | default: "" }}
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <button
          id="sendMessageButton"
          class="btn btn-primary btn-xl text-uppercase"
          type="submit"
          onclick="window.location.href='mailto:eliottpalpro@gmail.com'"
        >
          {{ site.data.sitetext[site.locale].contact.submit | default: "Send me
          an email!" }}
        </button>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->
